<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProductionFormActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProductionListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CareActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CareListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AnimalDetailsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AnimalsListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimalFormActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>